@tailwind base;
@tailwind components;
@tailwind utilities;


.app {
  font-family: 'Inter', sans-serif;
 
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  border-radius: 0.375rem;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
}

tbody tr:hover {background-color: #02052b; cursor: pointer;}
